<% form_for([:admin,  @page]) do |f| %>
<% fields_for :page do |f| %>
  <%= f.error_messages %>
  
  <fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
    
    <p>
      <label>Tytuł</label>
      <%= f.text_field :name, :class => "text-input small-input" %>
    </p>

    <p>
      <label>Nagłówek strony</label>
      <%= f.text_field :header, :class => "text-input small-input" %>
      <br /><small>Pozostaw pusty, jeśli ma być taki sam jak Tytuł.</small>
    </p>

    <p>
      <label>Zawartość</label>
      <%= f.cktext_area :body, :toolbar=>'Full', :width=>'99%', :language => 'pl' %>
    </p>
        
    <p>
      <label>Status</label>
      <%= f.check_box :status %> Aktywna?
    </p>
                
    <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
    <%= f.hidden_field :type, :value => "StaticPage" %>
    <p>
      <input class="button" type="submit" value="Zapisz" />
    </p>
    
  </fieldset>
  
  <div class="clear"></div><!-- End .clear -->
<% end %>  
<% end %>
