<% form_for([:admin,  @feature]) do |f| %>
  <%= f.error_messages %>
<% fields_for :feature do |f| %>
  <fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
    
    <p>
      <label>Nazwa</label>
      <%= f.text_field :name, :class => "text-input small-input" %>
    </p>

    <p>
      <label>Typ</label>
      <%= f.select :type, [['Tekst','TextFeature'],['Kolor','ColorFeature']] %>
    </p>


    <p class="nested_lists">
      <%= f.label 'feature[category_ids][]', "Grupa" %>

      <%= checkbox_category_list FeatureCategory, @feature %>
    </p>

    <p>
      <input class="button" type="submit" value="Zapisz" />
    </p>
    
  </fieldset>
  
  <div class="clear"></div><!-- End .clear -->
<% end %>
<% end %>
