<div class="grid_3 nested_lists">
  <h3>Kategorie</h3>
  <%= category_list WorkCategory %>
</div>
<div class="grid_9" style="margin:0;">
  <% for work in @works do %>
    <h3><%= work.name %></h3>
    <div class="grid_6" style="margin-left:0;">
      <%= image_tag(work.image.url(:content), :class => "shadow-large") if work.image %>
    </div>
    <div class="grid_3" style="margin:0;height:245px;overflow:hidden;text-align:justify;">
      <%= strip_tags(work.description) %>
    </div>
    <%= link_to 'wiecej...', work_path(work), :class => "more right" %>
    <div class="clear"></div>
    <hr />
  <% end %>
</div>
