<div class="grid_3 nested_lists">
  <h3>Kategorie</h3>
  <%= category_list WorkCategory, false, @category %>
</div>
<div class="grid_9" style="margin:0;">
  <% for work in @works do %>
    <h3><%= link_to work.name, work_path(work) %></h3>
    <div class="grid_5" style="margin-left:0;">
      <%= link_to(image_tag(work.image.url(:content), :class => "shadow-large"), work_path(work)) if work.image %>
    </div>
    <div class="grid_4" style="margin:0;height:180px;overflow:hidden;text-align:justify;">
      <%= strip_tags(work.description) %>
    </div>
    <%= link_to 'wiecej...', work_path(work), :class => "more right" %>
    <div class="clear"></div>
    <hr />
  <% end %>
  <%= will_paginate @products, :previous_label => "Poprzednia", :next_label => "Następna", :separator => " | ", :style => "text-align:center;" %>
</div>

<% javascript_tag do %>
  function initMenu() {
    $('.root p').hide();
    $('.root ul').hide();
    $('.root li a.toggle').click(
      function() {
        $(this).siblings().not('a').slideToggle('fast');
        this.toggleClassName('expanded');
        return false;
      }
    );
  }
  $(document).ready(function() {
    initMenu();
    $('a.active').parents('li').each(function(){$(this).children('a').siblings().not('a').show();})
    $('a.toggle.active').parents('li').children('a.toggle').each(function(){ this.toggleClassName('expanded');})
  });
<% end %>
