<%= javascript_include_tag 'jquery.prettyPhoto' %>
<%= stylesheet_link_tag 'prettyPhoto' %>

<div class="grid_12" style="text-align:justify;overflow:hidden;">
  <%= link_to "<< powrót", :back, :class => "more", :style => "z-index:1090;position:absolute;" %>
  <h2 style="margin-top:20px;"><%= @work.name %></h2>
  
  <div class="ContentFlow" id="ContentFlow" style="margin-bottom:80px;">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow" style="width:200%;margin:-8% 0 0 -50%;">
      <% @work.pictures.each do |picture| %>
        <%= link_to image_tag(picture.url(:content), :class => "content", :alt => ""), picture.url(:original), :class => "item" %>
      <% end %>
    </div>
  </div>
  <% @work.pictures.each_with_index do |picture,i| %>
    <%= link_to_function image_tag(picture.url(:thumb), :class => "thumb", :alt => ""), "myNewFlow.moveTo(#{i});"  %>
  <% end %>
  <%= @work.description %>
  <%= link_to "<< powrót", :back, :class => "more right" %>
</div>
<script>
  var myNewFlow = new ContentFlow('ContentFlow', { reflectionHeight: 0.2, startItem: 0, onclickActiveItem: function(item){return false;} } );
  $("a.item").fancybox({transitionIn: 'elastic', transitionOut: 'elastic', overlayShow: true, padding: 0, margin: 0, hideOnContentClick:true, showCloseButton:false, onStart: function(item){if(!$(item).hasClass('active')){ return false;}}});
</script>
