<div class="clearfix">
  <div class="grid_12 promo-container">
    <div id="promos">
      <div class="promo"><a href="#"><img src="images/promos/home/horizontal-layout/promo01.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo02.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo03.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo04.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo05.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo06.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
    </div>
    <div id="promo-nav" class="clearfix">
      <ul class="clean right">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
      </ul>
    </div>
  </div><!--//grid10-->
</div><!--//clearfix-->

<div class="clearfix widget-area">
  <% @page.children.active.each do |page| %>
  <div class="grid_4 widget">
    <h2><%= page.name %></h2>
    <p><%= page.body %></p>
  </div><!--//grid4-->
  <% end %>

  <div class="grid_4 widget">
    <h2>Aktualnosci</h2>
    <% if newest = Post.newest %>
      <h3><%= newest.name %></h3>
      <p><%= truncate(strip_tags(newest.body.to_s), :length => 100) %></p>
      <%= link_to 'wiecej', posts_path %>
    <% end %>
  </div><!--//grid4-->

  <div class="grid_4 widget">
    <h2>Najnowsze produkty</h2>
    <% if newest = Product.newest(5) %>
    <ul id="products_carousel" style="padding:0;">
    <% newest.each do |product| %>
    <li style="list-style:none;padding:0;">
      <h3><%= product.name %></h3>
      <p><%= truncate(strip_tags(product.description.to_s), :length => 100) %></p>
      <%= link_to 'wiecej', products_path %>
    </li>
    <% end %>
    </ul>
    <% end %>
  </div><!--//grid4-->

  
</div><!--//clearfix-->

<div class="grid_12 clearfix">
  <hr />
</div><!--//grid_12-->

<script type="text/javascript">
  $(document).ready(function(){
    $('#products_carousel').bxSlider({auto:true,controls:false});
  });
</script>
