<div class="clearfix">
  <div class="grid_12 promo-container" id="promo_container" style="text-align:center;height:433px;">
    <div id="promo_tabs_wrapper" style="display:none;" class="promo_tabs_wrapper">
    <table class="promo_list transparent_bg" cellpadding="0" cellspacing="0" id="promo_tabs">
    <tr>
    <% promo_pages = Page.home_page.children.active.with_pictures %>    
    <% promo_pages.each do |page| %>
      <td>
        <%= link_to_remote page.name, {:url => {:controller => 'pages', :action => 'switch_promos', :page_id => page.id}, :update => 'promo_photos', :before => "$('#promos').bxSlider('stopShow');$('#promo_tabs').show();"}, {:title => strip_tags(page.body.to_s).gsub(/\r|\t|\n/,'')} %>
      </td>
    <% end %>
    </tr>
  </table>
  </div>
  <div id="promo_photos"></div>
  </div><!--//grid10-->
</div><!--//clearfix-->
<div class="clearfix widget-area hp_sliders">
  <div class="grid_4 widget">
    <h4><%= link_to "AKTUALNOSCI", posts_path %></h4>
    <% if newest = Post.newest %>
      <p>
        <span>
          <b><%= newest.name %></b>
          <%= strip_tags(newest.body.to_s) %><br />
        </span>
      </p>
      <%= link_to 'wiecej...', posts_path, :class => "more right" %>
    <% end %>
  </div><!--//grid4-->

  <div class="grid_4 widget">
    <h4><%= link_to "NOWE PRODUKTY", products_path %></h4>
    <% if newest = Product.newest(5) %>
    <ul id="products_carousel">
    <% newest.each do |product| %>
    <li>
      <p>
        <span>
          <b><%= product.name %></b>
          <%= strip_tags(product.description.to_s) %><br />
        </span>
      </p>
    </li>
    <% end %>
    </ul>
    <%= link_to 'wiecej...', products_path, :class => "more right" %>
    <% end %>
  </div><!--//grid4-->

  <div class="grid_4 widget">
    <h4><%= link_to "NOWE GALERIE", works_path %></h4>
    <% if newest = Work.newest(5) %>
    <ul id="works_carousel">
    <% newest.each do |work| %>
    <li>
      <p>
        <span>
          <b><%= work.name %></b>
          <%= strip_tags(work.description.to_s) %><br />
        </span>
      </p>
    </li>
    <% end %>
    </ul>
    <%= link_to 'wiecej...', works_path, :class => "more right" %>
    <% end %>
  </div><!--//grid4-->
  
</div><!--//clearfix-->

<div class="grid_12 clearfix">
  <hr />
</div><!--//grid_12-->

<script type="text/javascript">
  $(document).ready(function(){
    $('#products_carousel').bxSlider({auto:true,controls:false,pause:5000});
    $('#works_carousel').bxSlider({auto:true,controls:false,pause:5000,autoDelay:2500});
    <%= remote_function :url => {:controller => 'pages', :action => 'switch_promos'}, :update => 'promo_photos', :loading => "$('#promo_photos').append('#{image_tag('spinner.gif')}')" %>
    $('#promo_container').bind('mouseenter', function() { $('#promo_tabs_wrapper').slideDown(); });
    $('#promo_container').bind('mouseleave', function() { $('#promo_tabs_wrapper').slideUp(); });
  });
  $('body').addClass('high_footer');
</script>
