<div class="clearfix">
  <div class="grid_12 promo-container" id="promo_container" style="text-align:center;">
  </div><!--//grid10-->
</div><!--//clearfix-->

<div class="clearfix widget-area hp_sliders">
  <div class="grid_4 widget">
    <h4>AKTUALNOSCI</h4>
    <% if newest = Post.newest %>
      <p>
        <span>
          <b><%= newest.name %></b>
          <%= strip_tags(newest.body.to_s) %><br />
        </span>
        <%= link_to 'wiecej...', posts_path, :class => "more" %>
      </p>
    <% end %>
  </div><!--//grid4-->

  <div class="grid_4 widget">
    <h4>NOWE PRODUKTY</h4>
    <% if newest = Product.newest(5) %>
    <ul id="products_carousel">
    <% newest.each do |product| %>
    <li>
      <p>
        <span>
          <b><%= product.name %></b>
          <%= strip_tags(product.description.to_s) %><br />
        </span>
        <%= link_to 'wiecej...', products_path, :class => "more" %>
      </p>
    </li>
    <% end %>
    </ul>
    <% end %>
  </div><!--//grid4-->

  <div class="grid_4 widget">
    <h4>NOWE GALERIE</h4>
    <% if newest = Work.newest(5) %>
    <ul id="works_carousel">
    <% newest.each do |work| %>
    <li>
      <p>
        <span>
          <b><%= work.name %></b>
          <%= strip_tags(work.description.to_s) %><br />
        </span>
        <%= link_to 'wiecej...', works_path, :class => "more" %>
      </p>
    </li>
    <% end %>
    </ul>
    <% end %>
  </div><!--//grid4-->
  
</div><!--//clearfix-->

<div class="grid_12 clearfix">
  <hr />
</div><!--//grid_12-->

<script type="text/javascript">
  $(document).ready(function(){
    $('#products_carousel').bxSlider({auto:true,controls:false,pause:5000});
    $('#works_carousel').bxSlider({auto:true,controls:false,pause:5000,autoDelay:2500});
    <%= remote_function :url => {:controller => 'pages', :action => 'switch_promos'}, :update => 'promo_container', :loading => "$('#promo_container').append('#{image_tag('spinner.gif')}')" %>
    $('#promo_container').bind('mouseenter', function() { $('#promo_tabs').fadeIn(); });
    $('#promo_container').bind('mouseleave', function() { $('#promo_tabs').fadeOut(); });
  });
</script>
