<div class="content-box">  
  <div class="content-box-header">    
    <h3>Edycja realizacji</h3>

    <ul class="content-box-tabs">
      <li><a href="#tab1" class="default-tab">Opis</a></li> <!-- href must be unique and match the id of target div -->
      <li><a href="#tab2">Zdjecia</a></li>
    </ul>
    
    <div class="clear"></div>
  </div>  
  <div class="content-box-content">
    <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
      <%= render :partial => "form" %>
      
      <%= link_to 'Wróć', admin_works_path %>
    </div>
    <div class="tab-content" id="tab2">      
      
      <ul id="pictures_list">
        <%= render :partial => 'shared/picture', :collection => @work.pictures %>
      </ul>
      <div class="clear"></div>

      <%= swfupload_head %>

      <%= swfupload :controller => '/admin/pictures', :action => 'create', :assetable_id => @work.id, :assetable_type => @work.class.to_s %>

   </div>
  </div>  
</div>

<%= sortable_element("pictures_list", :url => { :controller => 'admin/pictures', :action => "order" }, :constraint => false) %>
