<div class="content-box"><!-- Start Content Box -->
  
  <div class="content-box-header">
    
    <h3>Zarządzaj realizacjami</h3>
        
    <div class="clear"></div>
    
  </div> <!-- End .content-box-header -->
  
  <div class="content-box-content">
    
    <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
            
      <table>
	
	<thead>
	  <tr>
	    <th>Tytuł</th>
	    <th>Zawartość</th>
	    <th>Status</th>
	    <th style="width:70px;">&nbsp;</th>
	  </tr>
	  
	</thead>
	
	<tfoot>
	  <tr>
	    <td colspan="6">
	      <div class="bulk-actions align-left">
		<%= link_to 'Dodaj realizację', new_admin_work_path %>
	      </div>
	      
	      <div class="pagination" style="display:none;">
		<a href="#" title="First Page">&laquo; First</a><a href="#" title="Previous Page">&laquo; Previous</a>
		<a href="#" class="number" title="1">1</a>
		<a href="#" class="number" title="2">2</a>
		<a href="#" class="number current" title="3">3</a>
		<a href="#" class="number" title="4">4</a>
		<a href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>
	      </div> <!-- End .pagination -->
	      <div class="clear"></div>
	    </td>
	  </tr>
	</tfoot>
	
	<tbody>

	  <% @works.each do |work| %>
	  <tr class="parent">
	    <td class="name"><%= link_to work.name, edit_admin_work_path(work) %></td>
	    <td><%= truncate(strip_tags(work.description), :length => 100) %></td>
	    <td><%=h work.status.to_s(:activation) %></td>
	    <td>
	      <%= link_to '<img src="/images/icons/pencil.png" alt="Edytuj" />', edit_admin_work_path(work) %>
	      <%= link_to '<img src="/images/icons/cross.png" alt="Usuń" />', [:admin, work], :confirm => 'Jesteś pewien?', :method => :delete %>
	    </td>
	  </tr>
	  <% work.pictures do |picture| %>
	     <tr><td><%= image_tag picture.url_thumb %></td></tr>
	  <% end %>
	  <% end %>
	</tbody>
	
      </table>
      
    </div> <!-- End #tab1 -->
        
  </div> <!-- End .content-box-content -->
  
</div> <!-- End .content-box -->

