<% @option_combination ||= OptionCombination.new %>
<% form_remote_for [:admin, @option_combination], :update => "option_combination_form" do |f| %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <ul id="options_list">
    <% @option_combination.options.each do |option| %>      
      <li>
        <%= hidden_field_tag "option_combination[option_ids][]", option.id %>
        <%= "#{option.feature.name} #{option.name}" %> <%= link_to_function image_tag("icons/cross.png"), "remove_option(this)" %>
      </li>
    <% end %>
  </ul>
  <p>
    Wybierz zdjecia, ktore odnosza sie do wybranej opcji:<br />
  <% @product.pictures.each do |picture| %>
    <%= check_box_tag "option_combination[picture_ids][]", picture.id, @option_combination.pictures.include?(picture) %>
    <%= image_tag picture.url(:thumb) %>
  <% end %>
  </p>
  <%= f.submit 'Zapisz', :name => 'commit' %>
  <% unless @option_combination.new_record? %>    
    <%= link_to_remote 'Usun', :url => admin_option_combination_path(@option_combination), :update => "option_combination_form", :method => :delete %>
  <% end %>
  <%= link_to_remote('Nowa kombinacja', :url => new_admin_option_combination_path(:product_id => @product.id), :update => "option_combination_form", :method => :get) %>
  <br /><%= flash[:notice] %>
<% end %>
<hr />
<h3>Lista kombinacji</h3>
<ul>
  <% @product.option_combinations.each do |option_combination| %>
    <li>          
      <%= link_to_remote option_combination.long_name + ' ' + image_tag("icons/pencil.png"), :url => edit_admin_option_combination_path(option_combination), :update => "option_combination_form", :method => :get %>
      <%= link_to_remote image_tag("icons/cross.png"), :url => admin_option_combination_path(option_combination), :update => "option_combination_form", :method => :delete %>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  function remove_option(option){
  op = option;
  $(option.parentNode).remove();
  }
</script>
