<div class="content-box">  
  <div class="content-box-header">    
    <h3>Edycja produktu</h3>
    
    <ul class="content-box-tabs">
      <li><a href="#tab1" class="default-tab">Opis</a></li> <!-- href must be unique and match the id of target div -->
      <li><a href="#tab2">Zdjecia</a></li>
      <li><a href="#tab3">Kombinacje atrybutow</a></li>
    </ul>
    
    <div class="clear"></div>
  </div>
  <div class="content-box-content">
    <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
      <%= render :partial => "form" %>
      
      <%= link_to 'Wróć', admin_products_path %>
      <%= link_to 'Klonuj', clone_admin_product_path(@product) %>
    </div>
    <div class="tab-content" id="tab2">      
      <% remote_form_for [:admin, @product], :success => "alert('Konfiguracja znakow wodnych aktywna dla nowo uploadowanych zdjec.');", :failure => "alert('Wystapil problem')" do |f| %>
        Znaki wodne: <br />
        Romiq: <%= f.check_box :watermark %><br />
        Archon: <%= f.check_box :watermark_2 %><br />
        <%= f.submit 'Zapisz' %>
      <% end %>
      <%= link_to_remote 'Zastosuj aktualna konfiguracje znakow wodnych do wszystkich zuploadowanych zdjec', :url => update_pictures_admin_product_path(@product), :success => "alert('Zdjecia zaktualizowane')", :failure => "alert('Wystapil problem.')", :loading => "$('#pictures_update_spinner').toggle();", :complete => "$('#pictures_update_spinner').toggle();" %>
      <%= image_tag 'spinner.gif', :style => "display:none;", :id => "pictures_update_spinner" %>
      <ul id="pictures_list">
        <%= render :partial => 'shared/picture', :collection => @product.pictures %>
      </ul>
      <div class="clear"></div>
      
      <%= swfupload_head %>
    
      <%= swfupload :controller => '/admin/pictures', :action => 'create', :assetable_id => @product.id, :assetable_type => @product.class.to_s %>
    
    </div>  
    <div class="tab-content" id="tab3">
      <p>
        Grupa:
      <%= select_tag :group, options_for_select([['Wybierz',nil]]+FeatureCategory.all.map{|p| [p.name, p.id]}), :onchange => remote_function(:update => 'feature_select', :url => for_category_admin_features_path, :with => "'category_id='+this.value + '&product_id=#{@product.id}'") %>
      </p>
      <p id="feature_select">
        <%= render :partial => 'features_form', :locals => {:product_id => @product.id} %>
      </p>
      <div id="option_combination_form_options"></div>
      <div id="option_combination_form">
        <%= render :partial => "option_combination_form" %>
      </div>
    </div>  
  </div>
</div>

<%= sortable_element("pictures_list", :url => { :controller => 'admin/pictures', :action => "order" }, :constraint => false) %>
 

