<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @product.body %>
</p>

<p>
  <b>Status:</b>
  <%=h @product.status %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
