<div class="grid_3 nested_lists">
  <h3>Kategorie</h3>
  <%= category_list ProductCategory, false, @category %>
</div>
<div class="grid_9" style="margin:0;">
  <div style="float:left;">
    Sortuj wg:
    <%= link_to_if get_items_order != 'date', 'Data dodania', change_order_products_path(params.merge(:order => 'date')) %> |
    <%= link_to_if get_items_order != 'name', 'Nazwa', change_order_products_path(params.merge(:order => 'name')) %>
  </div>
  <div style="float:right;">
    Widok:
    <%= link_to_if get_items_view != 'short_view', 'Lista', change_view_products_path(params.merge(:view => 'short_view')) %> |
    <%= link_to_if get_items_view != 'medium_view', 'Zdjęcie', change_view_products_path(params.merge(:view => 'medium_view')) %> |
    <%= link_to_if get_items_view != 'long_view', 'Opis', change_view_products_path(params.merge(:view => 'long_view')) %>
  </div>
<div class="clear"></div>
<hr />
</div>
<div class="grid_9" style="margin:0;">
  <%= render :partial => get_items_view, :collection => @products %>
    <div class="clear"></div>
  <%= will_paginate @products, :previous_label => "Poprzednia", :next_label => "Następna", :separator => " | ", :style => "text-align:center;" %>
</div>

<% javascript_tag do %>
  function initMenu() {
    $('.root p').hide();
    $('.root ul').hide();
    $('.root li a.toggle').click(
      function() {
        $(this).siblings().not('a').slideToggle('fast');
        this.toggleClassName('expanded');
        return false;
      }
    );
  }
  $(document).ready(function() {
    initMenu();
    $('a.active').parents('li').each(function(){$(this).children('a').siblings().not('a').show();})
    $('a.cat.active').parents('li').children('a.cat').each(function(){ this.toggleClassName('expanded');})
  });
<% end %>
