<%= javascript_include_tag 'jquery.prettyPhoto' %>
<%= stylesheet_link_tag 'prettyPhoto' %>

<div class="grid_12" style="text-align:justify;">
  <h2><%= @product.name %></h2>
  <div id="product_photos">
    <%= render :partial => 'photos' %>
  </div>
  <div class="clear"></div>
  <%= @product.description %>
</div>
